.toastBody {
  width: 400px;
  border-radius: 5px;
  position: relative;
  right: 45px;
}

.Toastify__close-button {
  position: relative;
  top: 15px;
}

.Toastify__toast-icon {
  margin-right: 15px;
}
